.modal-vh{
    $header-h:71px !default;
    $footer-h:63px !default;

    $header-vh:38px !default;
    $footer-vh:50px !default;

    .modal-body,.modal-vh-body{
        overflow: auto !important;
    }
    .modal-vh-footer,.modal-footer{
        overflow: hidden !important;
    }

    &[data-no="2"]{
        
        .modal-vh-body{height: calc(85vh - #{$header-vh}) !important;}
        .modal-vh-footer{height: $header-vh !important;}

        .modal-body{height: calc(85vh - #{$header-h}) !important;}
        .modal-footer{height: $header-h !important;}
    }



    &[data-no="3"]{
        .modal-vh-header{height: $footer-vh !important;}
        .modal-vh-body{height: calc(85vh - #{$header-vh} - #{$footer-vh}) !important;}
        .modal-vh-footer{height: $header-vh !important;}

        .modal-header{height: $footer-h !important;}
        .modal-body{height: calc(85vh - #{$header-h} - #{$footer-h}) !important;}
        .modal-footer{height: $header-h !important;}
        
    }
}
