.badge-point{
    width: 8px;
    height: 8px;
    display: inline-block !important;
    padding: 0;
    border-radius: 10rem;
}
.badge-num{
    display: inline-block !important;
    font-size: 11px;
}

.new-point{
    @extend %pos-r;
    .badge-point{
        @extend %pos-a;
        top: -3px;
        right: -3px;
    }
}
.num-poin{
    @extend %pos-r;
    .badge-num{
        @extend %pos-a;
        top: -3px;
        left:-15px;
    }
}
