// .gototop{
//   display: none;
//     position: fixed;
//     bottom: 30px;
//     width: 30px;
//     height: 30px;
//     line-height:30px;
//     right: 1%;
//     text-align: center;
//     cursor: pointer;
//     z-index: $zindex-dropdown;
//     background-color: $danger;
//     color: $white;
//     @include transition(all 1s ease);
//     &:hover,&:focus{
//       background-color: $danger;
//     }
//   }

.gototop{
    position: fixed;
    bottom: 30px;
    width: 30px;
    height: 30px;
    line-height:30px;
    right: -50px;
    text-align: center;
    cursor: pointer;
    z-index: $zindex-dropdown;
    background-color: $danger;
    color: $white;
    @include transition(all 1s ease);
    &:hover,&:focus{
      background-color: $danger;
    }
    &.active{
      right: 1% !important;
    }
  }
