.border-black-b{
    border-bottom: 1px solid rgba($black, .1) !important;
}
.border-black-b-8{
    border-bottom: 1px solid rgba($black, .8) !important;
}
.border-white-b{
    border-bottom: 1px solid rgba($white, .1) !important;
}

.border-black-t{
    border-top: 1px solid rgba($black, .2) !important;
}
.border-white-t{
    border-top: 1px solid rgba($white, .2) !important;
    
}

.border-black-r{
    border-right: 1px solid rgba($black, .2) !important;
}
.border-black-l{
    border-left: 1px solid rgba($black, .2) !important;
}



.border-white-x{
    border-left: 1px solid rgba($white, .2) !important;
    border-right: 1px solid rgba($white, .2) !important;
    
}
