.footer-bar{
    left: 0;
    right: 0;
    background-color: $white;
    position: fixed;
    @include transition(bottom 1s ease);
    .footer-item{
        width: 20%;
        display: inline-block;
        padding: 0;
    }
    &.hide{
        bottom: -80px;
    }
    &.active{
      bottom:0;
    }
}
