body{
    background-attachment: fixed;
    overflow-x: hidden;
}
.mb-half{
    margin-bottom: 40px;
}

// 主要內容
.main-content-wrap{
    min-height: 450px;
    padding-top: 115px;
    width: 100%;
    @include media-breakpoint-down(md) {
        // margin-top: 54px;
        min-height: auto;
    }
    
}


.vh-90{
    height: 90vh !important;
   
}
