body{
    &:lang(th){
        font-family: "SF Pro TH","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        
        .btn {
            padding: 0.275rem 0.3rem;
            font-size: 14px;
        }
    }
}
