.card-game{
    border-left: 0 !important;
    border-right:0 !important;
}
// 共用
%share{
    padding: 4px 2px;
    width: 100%;
    color: $dark;
}
// 特定
%specific{
    display: flex;
    justify-content: space-between;
    border-left: 1px solid rgba($black, .2);
    text-decoration: none !important;
    color: $dark;
    span{
        display: inline-block;
        width: 50%;
        
    }
    &:nth-child(1){
        border-bottom: 1px solid rgba($black, .2);
    }
}
%border-l{
    border-left: 1px solid rgba($black, .2);
}

// 主
.t-home{@extend %share;}
// 客
.t-away{@extend %share;}

// 隊伍
.t-team{
    width: 10%;
    text-align: center;
}
.t-ft-HDP{
    width: 22.5%;
    .t-home{ @extend %specific;}
    .t-away{@extend %specific;}
}
.t-ft-OU{
    width: 22.5%;
    .t-home{ @extend %specific;}
    .t-away{@extend %specific;}
}
.t-1h-HDP{
    width: 22.5%;
    .t-home{ @extend %specific;}
    .t-away{@extend %specific;}
}
.t-1h-OU{
    width: 22.5%;
    .t-home{ @extend %specific;}
    .t-away{@extend %specific;}
}
.game-item{
    border-top: 1px solid rgba($black, .2);
    &:first-child{
        border-top: 0 !important;
    }
}


